# 1. Data Ingestion

In [3]:
# USe of SODA API to extract web data

import pandas as pd
SODA_API_URL = ("https://data.cityofnewyork.us/resource/fhrw-4uyv.csv?"
       "$limit=10000000"
       "&Agency=HPD"
       "&$select="
                "created_date,"
                "unique_key,"
                "complaint_type,"
                "incident_zip,"
                "incident_address,"
                "street_name,"
                "address_type,"
                "city,"
                "resolution_description,"
                "borough,"
                "latitude,"
                "longitude,"
                "closed_date,"
                "location_type,"
                "status")

df = pd.read_csv(SODA_API_URL, parse_dates=True)

In [4]:
df.head()

,created_date,unique_key,complaint_type,incident_zip,incident_address,street_name,address_type,city,resolution_description,borough,latitude,longitude,closed_date,location_type,status
0,2020-07-02T00:53:46.000,46724396,UNSANITARY CONDITION,10453.0,1735 DAVIDSON AVENUE,DAVIDSON AVENUE,ADDRESS,BRONX,The following complaint conditions are still o...,BRONX,40.847996,-73.913303,NaN,RESIDENTIAL BUILDING,Open
1,2020-07-02T01:30:47.000,46723307,ELECTRIC,11377.0,51-28 72 STREET,72 STREET,ADDRESS,Woodside,The following complaint conditions are still o...,QUEENS,40.734983,-73.892334,NaN,RESIDENTIAL BUILDING,Open
2,2020-07-02T01:51:58.000,46720951,ELECTRIC,10460.0,1967 MARMION AVENUE,MARMION AVENUE,ADDRESS,BRONX,The following complaint conditions are still o...,BRONX,40.843515,-73.886672,NaN,RESIDENTIAL BUILDING,Open
3,2020-07-02T01:30:28.000,46721660,UNSANITARY CONDITION,10030.0,2500 FREDERICK DOUGLASS BOULEVARD,FREDERICK DOUGLASS BOULEVARD,ADDRESS,NEW YORK,The following complaint conditions are still o...,MANHATTAN,40.815557,-73.947222,NaN,RESIDENTIAL BUILDING,Open
4,2020-07-02T01:48:56.000,46715042,WATER LEAK,10456.0,1100 FRANKLIN AVENUE,FRANKLIN AVENUE,ADDRESS,BRONX,The following complaint conditions are still o...,BRONX,40.827819,-73.906298,NaN,RESIDENTIAL BUILDING,Open

In [5]:
df.shape

(6149696, 15)

In [6]:
# The code was removed by Watson Studio for sharing.

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [7]:
#Template of info needed to upload:

#client_cred = ibm_boto3.client(service_name='s3',
#ibm_api_key_id='***',
#ibm_auth_endpoint='***',
#config=Config(signature_version='oauth'),
#endpoint_url='***')
#bucket = '***'

In [8]:
#Bucket and Credentials

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

client_cred = ibm_boto3.client(service_name='s3',
ibm_api_key_id='rA-GmnuRkJ81A9EsDqha63ZmdFzQjxwCEgASTF2F-OJr',
ibm_auth_endpoint='https://iam.cloud.ibm.com/oidc/token',
config=Config(signature_version='oauth'),
endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

bucket = 'ibmdatascienceandmachinelearningc-donotdelete-pr-bkscl1den6u69w'

In [9]:
# Upload NYC 311 Calls Dataset

df.to_pickle('./df_raw.pkl')
client_cred.upload_file('./df_raw.pkl', bucket, 'df_raw_cos.pkl')

In [10]:
# Upload NYC PLUTO file Brooklyn 

body = client_39ef3ab0c86f4eb0a3c254cdfc649a1b.get_object(Bucket='ibmdatascienceandmachinelearningc-donotdelete-pr-bkscl1den6u69w',Key='BK_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_4 = pd.read_csv(body)
df_data_4.head()

df_data_4.to_pickle('./df_data_4_raw.pkl')
client_cred.upload_file('./df_data_4_raw.pkl', bucket, 'df_data_4_raw_cos.pkl')

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
# Upload NYC PLUTO file Bronx

body = client_39ef3ab0c86f4eb0a3c254cdfc649a1b.get_object(Bucket='ibmdatascienceandmachinelearningc-donotdelete-pr-bkscl1den6u69w',Key='BX_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_5 = pd.read_csv(body)
df_data_5.head()

df_data_5.to_pickle('./df_data_5_raw.pkl')
client_cred.upload_file('./df_data_5_raw.pkl', bucket, 'df_data_5_raw_cos.pkl')

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (19,20,22,23,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
# Upload NYC PLUTO file Manhattan

body = client_39ef3ab0c86f4eb0a3c254cdfc649a1b.get_object(Bucket='ibmdatascienceandmachinelearningc-donotdelete-pr-bkscl1den6u69w',Key='MN_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_6 = pd.read_csv(body)
df_data_6.head()

df_data_6.to_pickle('./df_data_6_raw.pkl')
client_cred.upload_file('./df_data_6_raw.pkl', bucket, 'df_data_6_raw_cos.pkl')

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
# Upload NYC PLUTO file Queens
body = client_39ef3ab0c86f4eb0a3c254cdfc649a1b.get_object(Bucket='ibmdatascienceandmachinelearningc-donotdelete-pr-bkscl1den6u69w',Key='QN_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_7 = pd.read_csv(body)
df_data_7.head()

df_data_7.to_pickle('./df_data_7_raw.pkl')
client_cred.upload_file('./df_data_7_raw.pkl', bucket, 'df_data_7_raw_cos.pkl')

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (19,20,22,23,64,65,77) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
# Upload NYC PLUTO file Staten Island

body = client_39ef3ab0c86f4eb0a3c254cdfc649a1b.get_object(Bucket='ibmdatascienceandmachinelearningc-donotdelete-pr-bkscl1den6u69w',Key='SI_18v1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_8 = pd.read_csv(body)
df_data_8.head()

df_data_8.to_pickle('./df_data_8_raw.pkl')
client_cred.upload_file('./df_data_8_raw.pkl', bucket, 'df_data_8_raw_cos.pkl')

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (19,20,22,23,24,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
df.sort_values(["created_date"], ascending=False, inplace=True)
df.head()

,created_date,unique_key,complaint_type,incident_zip,incident_address,street_name,address_type,city,resolution_description,borough,latitude,longitude,closed_date,location_type,status
321,2020-07-02T23:58:10.000,46715800,WATER LEAK,10462.0,1450 PARKCHESTER ROAD,PARKCHESTER ROAD,ADDRESS,BRONX,The following complaint conditions are still o...,BRONX,40.836319,-73.859548,NaN,RESIDENTIAL BUILDING,Open
876,2020-07-02T23:58:10.000,46716681,UNSANITARY CONDITION,10462.0,1450 PARKCHESTER ROAD,PARKCHESTER ROAD,ADDRESS,BRONX,The following complaint conditions are still o...,BRONX,40.836319,-73.859548,NaN,RESIDENTIAL BUILDING,Open
354,2020-07-02T23:58:10.000,46715041,PAINT/PLASTER,10462.0,1450 PARKCHESTER ROAD,PARKCHESTER ROAD,ADDRESS,BRONX,The following complaint conditions are still o...,BRONX,40.836319,-73.859548,NaN,RESIDENTIAL BUILDING,Open
1154,2020-07-02T23:58:10.000,46719688,WATER LEAK,10462.0,1450 PARKCHESTER ROAD,PARKCHESTER ROAD,ADDRESS,BRONX,The following complaint conditions are still o...,BRONX,40.836319,-73.859548,NaN,RESIDENTIAL BUILDING,Open
776,2020-07-02T23:51:38.000,46718294,PAINT/PLASTER,10473.0,2045 STORY AVENUE,STORY AVENUE,ADDRESS,BRONX,The following complaint conditions are still o...,BRONX,40.824831,-73.854232,NaN,RESIDENTIAL BUILDING,Open